body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
header {
    background-color:#181717;
    padding: 10px 0;
    

}
.container {
    width:100%;
    margin:0 auto;
}
header .container {
    display:flex;
    justify-content :space-between;
    align-items:center;
}
.header__logo {
    margin-left: 40px;
    

}
.header__logo img {
    height: 50px;
}
.header__nav {
    margin-right:60px ;
    padding-bottom: 0;
}
.header__button {
    display:inline-block;
    text-decoration: none;
    font-size:20px;
    margin-left: 20px;
    color:white;
    
}
.header__nav :hover {
    color:grey;
}
.main {
    background-color:#181717;
    
}
.hero .container {
    width:1100px;
}
.hero h1 {
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    font-weight:900;
    font-size:60px;
    letter-spacing: 0.1em;
    color:white;
    margin-top: 0;
    margin-bottom: 0;
}
.about {
    background-color:#181717;
}
.about .container {
    width:1100px;
    display:flex;
    justify-content:space-between;
    gap:0px;
    border:1px solid white ;
    border-radius: 20px;
    padding:20px;
}
.about__image img {
    max-width: 100%;
    height:auto;
    display:block;
    
}
.about__contents {
    color:white;
    padding-top: 40px;
    padding-left: 40px;
    
}
.profile__text__detail {
    border-top:1px solid #ffff;
    display:inline-block;
    padding-top:8px;
}
.history {
    background-color: #181717;
}


.history .container {
    width: 1100px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    gap:15px;
    padding-top: 40px;
    
}
.history__title {
    width:100%;
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    font-weight:900;
    font-size:60px;
    letter-spacing: 0.1em;
    color:white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.history__contents {
    flex:1;
    min-width:0;
    color:white;
}
.history__image img{
    width:100%;
    height:200px;
    object-fit: cover;
    border-radius: 20px;
    
}
.history__image__roninn img {
    object-position: top;
}
.history__sentence {
    border-top:1px solid #ffff;
    padding-top: 10px;
}
.skills {
    background-color: #181717;
}
.skills .container {
    width:1100px;
    margin:0 auto;
}
h5 {
    color:white;
    font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
    font-weight:900;
    font-size:60px;
    letter-spacing: 0.1em;
    color:white;
    margin-top: 20px;
    margin-bottom: 0;
}
.skills__lists {
    border:1px solid white ;
    border-radius: 20px;
    padding:20px;
    background-color: #252525;
    border-radius: 20px;
    padding:10px;
    transition:transform 0,3s;
    border:1px solid rba(255, 255, 255, 0.1) ;
}
.my__skills p {
    color:white;
}
.works {
    padding-bottom: 0;
}
.works .container {
    width:1100px;
    margin:0 auto;
    
}
.works__list {
    display:flex;
    border:1px solid white ;
    border-radius: 20px;
    padding:0;
    color:white;
    background-color: #252525;
}
.works__items {
    flex:1;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    padding:10px;
    transition:transform 0,3s;
    border:1px solid rba(255, 255, 255, 0.1) ;
    

}
.items__link{
    display:inline-block;
    font-family:'Montserrat', sans-serif;
    font-weight: 900;
    font-size:1.2rem;
    padding:15px 40px;
    color:white;
    text-decoration:none;
    padding:10px;
    background:  linear-gradient (45deg, #591459, #8e2de2);
    border-radius: 50px;
    border:none;
    box-shadow:0 4px 15px rgba(142, 45, 226, 0.4);
    transition:all 0.3s ease;
    margin-bottom: 20px;
   
}
.items__link:hover {
    transform:translateY(-3px);
    box-shadow:0.8px 5px rgba(142, 45, 226, 0.6);

}
.works__description {
    font-size:14px;
    line-height:1.6;
    
}
.contact {
    margin-top: 0;
}
.contact .container {
    width:1100px;
    margin:0 auto;
    padding-bottom: 50px;
}
.contact__contents{
    display:flex;
    border:1px solid white ;
    border-radius: 20px;
    color:white;
    background-color: #252525;
    display:flex;
    flex-direction: column;
    padding:20px;
}
h6 {
    margin:0;
    font-size:20px;
    padding: 0;
}

@media (max-width: 768px) {
    
    .container {
        width: 90% !important; 
    }

   
    header .container {
        flex-direction: column; 
        gap: 15px;
    }
    .header__logo, .header__nav {
        margin: 0 !important;
    }

   
    .hero h1 {
        font-size: 40px;
        text-align: center;
    }

    
    .about .container {
        flex-direction: column;
        padding: 15px;
    }
    .about__contents {
        padding-left: 0;
        padding-top: 20px;
    }

    
    .history .container {
        flex-direction: column;
    }
    .history__title {
        font-size: 40px;
        text-align: center;
    }
    .history__contents {
        width: 100%;
        margin-bottom: 30px;
    }

    
    h5 {
        font-size: 40px;
        text-align: center;
    }
    .skills__lists, .works__list {
        padding: 15px;
    }

    .works__list {
        flex-direction: column;
    }
}
